@media screen and (max-width: 768px) {
    .menu:hover {
        width: 50px;
        transition: all .5s ease;
    }
}


@media screen and (max-width: 768px) {
    .home .row {
        flex-direction: column-reverse;
    }

    .home-img {
        margin-bottom: 50px;
    }

}
@media screen and (max-width: 768px) {

    .contact-me .contact-cols {
        margin-top: 30px;
    }
}